body {
  padding-bottom: 10px;
}

section {
  background-color: rgb(91, 100, 238);
  padding-top: 10px;
  padding-bottom: 10px;
}
:root {
  --border-color: #010700;
  /* --background-color: rgb(91, 100, 238); */
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.grid-item {
  margin: top 10px;
  /* background-color: rgb(91, 100, 238); */
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #000;
}
.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.flex-item {
  margin-top: 10 px;
  outline: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  border: 1px solid #000;
}
