
.title 
{
  margin: 0;
  padding: 5px;
  background-color: rgb(173, 173, 173);
  text-align: center;
}

.me 
{
  margin: 0;
  padding: 5px;
  background-color: rgb(173, 173, 173);
  
}

.contact {
  margin: 0;
  padding: 5px;
  background-color: rgb(173, 173, 173);
}
.technologies {
  margin: 0;
  padding: 5px;
  background-color: rgb(173, 173, 173);
}
.skills {
  margin: 0;
  padding: 5px;
  background-color: rgb(173, 173, 173);
}
.projects {
  margin: 0;
  padding: 5px;
  background-color: rgb(173, 173, 173);
}
section {
  margin: top 50px;
  background-color: rgb(160, 163, 245);
  padding-top: 10px;
  padding-bottom: 10px;
}
:root {
  --border-color: #010700;
  /* --background-color: rgb(91, 100, 238); */
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.grid-item {
  margin: top 10px;
  /* background-color: rgb(91, 100, 238); */
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #000;
  max-width: 300px;
  min-width:200px;
  text-align: center;
}
.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  justify-content: center;
  
}
.flex-item {
  margin-top: 10 px;
  outline: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10px;
  border: 1px solid #000;
  max-width: 300px;
  min-width:200px;
  justify-content: center;
  padding-top: 10px;
}
h3 {text-align: center;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
section {text-align: center;}
.nav {border: 1px solid #555;
float: center;
display: block;
margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin: 100;
  padding: 100;
  justify-content: space-around;
}



